<h1>パスワード再設定</h1>

<p><%= @user.name %>さん</p>
<br>
<p>
  以下のURLにクリックして、パスワード再設定を行ってください。リンクは2時間有効です。
</p>

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

<br>
<p>
  このメールに心当たりがない場合は無視してください。
</p>